<!DOCTYPE html>
<html>
  <head>
    <script src="../js/rerouting.js"></script>
    <title>Subscribe to list</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <link rel="stylesheet" type="text/css" href="../css/user-home.css">
    <link rel="stylesheet" type="text/css" href="../css/create-list.css">
    <link rel="stylesheet" type="text/css" href="../css/subscribetolist.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="main-heading-container">
        <a href="/" class="main-heading" id="subscription-link">A place for your email subscriptions!</a>
    <div id="subscribe-list-container">
      <div id="form-container">
        <span id="subscribe-text">You're subscribing to list <span class="highlight">{{listname}}</span> by <span class="highlight">{{owner}}</span></span>
        <form id="subscribe-list-form" method="post" action="/subscribe-list">
            <input type="hidden" id="owner" name="owner" value={{owner}}>
            <input type="hidden" id="listname" name="listname" value={{listname}}>
            <input type="text" id="firstname" name="firstname" placeholder="first name">
            <input type="email" id="email" name="email" placeholder="email" required>
            <input type="submit" value="Subscribe" id="generic-button">
        </form>
      </div>
    </div>
    <script src="../js/script.js"></script> 
  </body>
</html>