#sign-up-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6, .col-12 {
    flex: 1;
    margin-right: 20px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

  #submit-button {
    position: relative; /* change this */
    padding: 10px 15px;
    font-size: 20px;
    background-color: #4c2cda; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px; /* add this */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
  }
  
  #submit-button:hover {
    background-color: #ce1e93;
  }
  
  #submit-button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }